{% extends "website_layout/layout.html" %}
{% load static %}
{% load widget_tweaks %}

{% block home_page %}
<div class="mainCon">
    <div class="signup-wrapper">
        <div class="signup-inner flexBox align-items-center ">
            <div class="signup-left-sec">
                <div class="signup-formWrap">
                    <div class="signup-header">
                        <div class="logo small-logo"><span class="logo-redtxt">Search</span>Engine</div>
                        <div class="create-ac-title">Forgot Password</div>
                    </div>
                    <div class="signup-form-inner">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% include 'website_layout/common_message.html'%}          

                            <div class="form-group">
                                <label>Email/User Name</label>
                                <input type="text" name="username" class="form-control" required="">
                            </div>
                            
                            <div class="form-group signup-btn">
                                <button type="submit" class="btn">Forgot Password</button>
                            </div>
                            <div class="tac already-have-account"><a href="{% url 'accounts:loginview' %}">Login</a></div>
                        </form>
                    </div>
                </div>
            </div>
           
        </div>
    </div> 
    {% include 'website_layout/footer_layout.html'%}          
</div>
{% endblock %}