{% extends "website_layout/layout.html" %}
{% load widget_tweaks %}
{% load static %}


{% block home_page %}
<div class="mainCon">
    <div class="signup-wrapper">
        <div class="signup-inner flexBox align-items-center ">
            <div class="signup-left-sec">
                <div class="signup-formWrap">
                    <div class="signup-header">
                        <div class="logo small-logo"><span class="logo-redtxt">Search</span>Engine</div>
                        <div class="create-ac-title">Create your account</div>
                    </div>
                    <div class="signup-form-inner">
                        <form method="POST" action="">
                            {% include 'website_layout/common_message.html'%}                          
                            <div class="form-group signup-btn">
                                <button type="button" class="btn">Reset Password</button>
                            </div>
                            <div class="tac already-have-account">Already have an account? <a href="{% url 'accounts:loginview' %}">signin</a> now</div>
                         </form>
                    </div>
                </div>
            </div>
            <div class="signup-right-sec mobView-hide">
                <div class="">
                    <img src="{% static 'images/signup-sec-image.png' %}" alt="sign up">
                </div>
            </div>
        </div>
    </div> 
    {% include 'website_layout/footer_layout.html' %}      
</div>
{% endblock %}